.tarjeta-idioma
  position: relative
  background-color: lighten($color-primario, 20% )
  &:before
    position: absolute
    top: 0
    left: 0
    content: ""
    width: 35px
    height: 37px
    background-image: url(../assets/curso/bandera.svg)
.bg-head
  background-color: #8C6DF2
  th
    border: none
tbody
  tr:nth-child(2n+1)
    background-color: #F6F6F6